body {
  font-family: "Courier New", Courier, monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: antiquewhite;
  font-weight: lighter;
  text-align: center;
}
